@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: #ffffff;
}


button{
  border: 1px solid grey;
  outline: none;
}


body {
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99); 
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



.square{
  border: 1px solid rgb(92, 91, 91);
  font-size: large;
  height: 2.5rem;
  width: 2.5rem;
}
